<ion-view view-title="Chat" ng-controller="ChatsCtrl as chatCtrl">
  <p>{{chatCtrl.hostname}}</p>
  <ion-content has-bouncing="true" class="padding">
    <div ng-show="chatCtrl.connected">
    <div class="log pad2">"Welcome to Chat"</div>
    </div>
    <div>
        <ul>
          <li ng-class="{'message':message.style,'log':!message.style}"  ng-repeat="message in chatCtrl.messages" >
            <span ng-show="message.style" ng-style="{color:message.color}" >{{message.username}} : </span >{{message.content}}
          </li>
        </ul>
    </div>
  </ion-content>
  <div class="list light-grey bottommsg">
    <div class="item item-input-inset light-grey">
      <label  class="item-input-wrapper line-light-grey nopadtop">
        <input class="line-light-grey" type="text"  placeholder="Type your message" ng-enter="chatCtrl.sendMessage()" ng-model="chatCtrl.message"> 
      </label>
      <div class="divsend">
          <button class="button ion-android-send iconsend" ng-click="chatCtrl.sendMessage()"></button>
      </div>
    </div>
  </div>  
 </ion-view>