<ion-view view-title="Camera">
  <ion-content class="padding">
    	<div style='background:red;display:table;margin:40% auto;padding:10px;color:white' ng-click='scan()'>
        Click Here to Scan
      </div>
  </ion-content>
</ion-view>
